.wrapper {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.luckywheel ul,
.luckywheel li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.luckywheel {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 10px solid #1a2b57;
  /* box-shadow: 0 2px 50px #333, 0px 0px 50px #000; */
  box-shadow: -6px 10px 15px rgba(0, 0, 0, 0.5);
}

.luckywheel-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 580px;
  height: 580px;
  border-radius: inherit;
  background-clip: padding-box;
  -webkit-transition: transform 6s ease;
  transition: transform 6s ease;
}

.luckywheel-container canvas {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.luckywheel-list {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 2;
}

.luckywheel-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #e4370e;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

.luckywheel-item__content {
  width: 100%;
  height: 180px;
  border-radius: 50% 50% 70% 70% / 40% 40% 100% 100%;
  padding-top: 5px;
  margin: 0 auto;
}

.text-container {
  width: 80px;
  margin: 0 auto;
}

.luckywheel-item__content > p {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.luckywheel-item span {
  position: relative;
  display: block;
  top: -10px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  -webkit-transform-origin: 50% 300px;
  -ms-transform-origin: 50% 300px;
  transform-origin: 50% 300px;
}

.luckywheel-item img {
  position: relative;
  width: 70px;
  height: 70px;
}

.luckywheel-logo {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  background-color: white;
}

.luckywheel-btn {
  position: absolute;
  left: 50%;
  top: -35px;
  z-index: 3;
  transform: translate(-50%);
}

.luckywheel-btn-icon {
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Quay từ góc 0 độ */
  }
  to {
    transform: rotate(-20deg); /* Quay đến góc -20 độ */
  }
}

@media screen and (max-width: 436px) and (min-width: 360px) {
  .luckywheel {
    width: 350px;
    height: 350px;
  }

  .luckywheel-container {
    width: 330px;
    height: 330px;
  }

  .luckywheel-item span {
    padding-top: 20px;
    top: -12px;
    -webkit-transform-origin: 50% 175px;
    -ms-transform-origin: 50% 175px;
    transform-origin: 50% 175px;
  }

  .luckywheel-logo {
    width: 60px;
    height: 60px;
  }

  .luckywheel-item__content {
    height: 90px;
  }

  .luckywheel-item__content > img {
    width: 40px;
    height: 40px;
  }

  .text-container {
    width: 60px;
  }

  .name-prize {
    font-size: 10px;
  }
}

@media screen and (max-width: 636px) and (min-width: 437px) {
  .luckywheel {
    width: 400px;
    height: 400px;
  }
  .luckywheel-container {
    width: 380px;
    height: 380px;
  }

  .luckywheel-item span {
    padding-top: 20px;
    -webkit-transform-origin: 50% 200px;
    -ms-transform-origin: 50% 200px;
    transform-origin: 50% 200px;
  }

  .luckywheel-logo {
    width: 50px;
    height: 50px;
  }

  .luckywheel-item__content {
    height: 110px;
  }

  .luckywheel-item__content > img {
    width: 50px;
    height: 50px;
  }

  .text-container {
    width: 60px;
  }

  .name-prize {
    font-size: 10px;
  }
}
